/* ______________________________________________________________________ *\
   Import Local Fonts
\* ______________________________________________________________________ */
@font-face {
  font-family: 'Amatic SC';
  font-weight: 400;
  src:
    local('AmaticSC-Regular'),
    url('/assets/fonts/AmaticSC-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Amatic SC';
  font-weight: 700;
  src:
    local('AmaticSC-Bold'),
    url('/assets/fonts/AmaticSC-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 500;
  src:
    local('OpenSans_Condensed-Medium'),
    url('/assets/fonts/OpenSans_Condensed-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 400;
  src:
    local('OpenSans_Condensed-Regular'),
    url('/assets/fonts/OpenSans_Condensed-Regular.ttf') format('truetype');
}

/* ______________________________________________________________________ *\
  Reset CSS
\* ______________________________________________________________________ */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a,
button,
h1,
h2,
h3,
input,
textarea,
ol,
ul {
  margin: 0;
  padding: 0;
  border: none;
  color: inherit;
  font: inherit;
}

/* ______________________________________________________________________ *\
  Global Styling
\* ______________________________________________________________________ */
html {
  font-size: 1em;
  scroll-behavior: smooth;
}

body {
  font:
    1rem/1.5 'Open Sans',
    sans-serif;
  /* font-family: 'Open Sans', sans-serif; */
}

h1,
h2,
h3 {
  font-family: 'Amatic SC', cursive;
}

a,
button {
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

ul {
  list-style-position: inside;
  list-style-type: none;
}
